html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;   
  border: none;
  perspective: 300px;
  -webkit-perspective: 300px;
}

.rotators {
  position: absolute;
  top: 0;
  width: 700px;
  height: 700px;
  left: 50%;
  margin-left: -350px;
}
.rotator {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: .1s all;
}
.rotator:hover {
  opacity: 1;
}
.rotator.up, .rotator.down {
  width: 100%;
  height: 100px;
}
.rotator.right, .rotator.left {
  width: 100px;
  height: 100%;
}
.rotator.top {
  top: 0;
}
.rotator.right {
  right: 0;
}
.rotator.down {
  bottom: 0;
}
.rotator.left {
  left: 0;
}

.cube-wrapper, .cube {
  backface-visibility: visible;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  transition: .5s all;
}
.cube-wrapper {
  position: relative;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  height: 700px;
}
.cube {
  position: absolute;
  height: 100%;
  width: 100%;
}

.face {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   border: none;
   line-height: 600px;
   font-family: sans-serif;
   font-size: 60px;
   color: white;
   text-align: center;
}
.face.front {
   background: rgba(0, 0, 0, 0.3);
   transform: translateZ(-350px);
   -webkit-transform: translateZ(-350px);
}
.face.back {
   background: rgba(0, 255, 0, 1);
   color: black;
   transform: rotateY(-180deg) translateZ(-350px);
   -webkit-transform: rotateY(-180deg) translateZ(-350px);
}
.face.right {
   background: rgba(196, 0, 0, 0.7);
   transform: rotateY(-90deg) translateZ(-350px);
   -webkit-transform: rotateY(-90deg) translateZ(-350px);
}
.face.left {
   background: rgba(0, 0, 196, 0.7);
   transform: rotateY(90deg) translateZ(-350px);
   -webkit-transform: rotateY(90deg) translateZ(-350px);
}
.face.top {
   background: rgba(196, 196, 0, 0.7);
   transform: rotateX(-90deg) translateZ(-350px);
   -webkit-transform: rotateX(-90deg) translateZ(-350px)
}
.face.bottom {
   background: rgba(196, 0, 196, 0.7);
   transform: rotateX(90deg) translateZ(-350px);
   -webkit-transform: rotateX(90deg) translateZ(-350px);
}
